.header-color {
  background: #34e89e;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #0f3443, #34e89e);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #0f3443, #34e89e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.landing-grid {
  width: 100%;
  margin: auto;
  background: #34e89e;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #0f3443, #34e89e);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #0f3443, #34e89e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.avatar-image {
  height: 200px;
  padding-top: 5em;
}

.banner-text {
  background-color: black;
  opacity: .8;
  width: 100%;
  padding: 0 2em;
  border-radius: 10px;
}

.banner-text h1 {
  font-size: 66px;
  font-weight: bold;
  color: white;
}

.banner-text p {
  color: white;
  font-size: 20px;
  padding: 1em;
}