.header-color {
  background: black;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, black, black);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, black, black); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: sticky;
}

.landing-grid { 
  background: #34e89e;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #0f3443, #34e89e);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #0f3443, #34e89e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.avatar-image {
  height: 250px;
  padding-top: 5em;
  overflow: hidden;
}

.banner-text {
  background-color: black;
  opacity: .8;
  width: 75%;
  border-radius: 10px;
  margin: auto;
}

.banner-text h1 {
  font-size: 66px;
  font-weight: bold;
  color: white;
}

.banner-text hr {
  border-top: 5px groove #34e89e;
  width: 50%;
  margin: auto;
}

.banner-text p {
  color: white;
  font-size: 20px;
  padding: 1em;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 20%;
  margin: auto;
}

.social-links i {
  color: #34e89e;
  font-size: 5em;
  padding: 4px;
}